@media (max-width: 1000px) {
  .wrapper {
    width: 100%;
  }
  .about__img,
  .menu,
  .header__block {
    display: none;
  }
  .logo {
    margin-right: auto;
    margin-left: auto;
    
    img {
      max-height: 35px;
      width: auto;
    }
  }
  .header {
    padding-top: 6px;
    padding-bottom: 6px;
  }
  .promo__wrap {
    position: relative;
    justify-content: flex-start;
    padding-top: 300px;
    padding-bottom: 100px;
  }
  .promo__title {
    font-size: 34px;
  }
  .promo__label {
    font-size: 14px;
  }
  .promo__slide {
    box-sizing: border-box;
  }
  .gallery__block {
    flex-direction: column;
  }
  .gallery__aside {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .gallery__link {
    width: 50%;
    
    &--big {
      width: 100%;
    }
    
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
  .gallery__middle {
    width: 100%;
  }
  .gallery {
    margin-bottom: 40px;
  }
  .sale {
    padding-top: 70px;
    margin-bottom: 90px;
  }
  .sale__title {
    font-size: 34px;
    line-height: 1.8;
  }
  .card__wrap,
  .mobile {
    display: block;
  }
  .catalog__list {
    justify-content: space-around;
  }
  .catalog__item {
    margin-right: 0;
  }
  .card__info,
  .card__slider {
    margin-left: auto;
    margin-right: auto;
  }
}

@media(max-width: 766px) {
  .card__img {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }
  .card__slider {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
  .card__gallery {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    a {
      width: 70px;
      height: 70px;
      overflow: hidden;
      margin-left: 5px;
      margin-right: 5px;
    }
  }
}

@media (max-width: 480px) {
  .promo__wrap {
    padding-top: 150px;
  }
  .sale__title,
  .promo__title {
    font-size: 24px;
    line-height: 1.5;
  }
  .swiper-button-next {
    right: 0;
  }
  .swiper-button-prev {
    left: 0;
  }
  .gallery__aside {
    display: block;
  }
  .card__info,
  .footer__column,
  .gallery__link {
    width: 100%;
  }
  .gallery__middle {
    height: 240px;
  }
  .footer__links a,
  .footer__line,
  .footer__wrap {
    display: block;
  }
  .social,
  .footer__column {
    margin-bottom: 20px;
  }
  .footer__top {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .card__tabs {
    border: 0;
  }
  .card__tab:first-child,
  .card__tab {
    width: 50%;
    text-align: center;
    border-left: 0;
    padding: 8px;
    border: 1px solid #ddd;
  }
  .card__action {
    width: 50%;
    padding: 12px;
  }
  .sale {
    padding-top: 40px;
  }
}

@media (max-width: 766px) and (orientation: landscape) {
  .promo__wrap {
    display: block;
    height: auto;
    padding-top: 100px;
  }
  .promo__btn {
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
  }
}
