@media (max-width: 1000px) {
  .wrapper {
    width: 100%;
  }
  .about__img,
  .menu,
  .header__block {
    display: none;
  }
  .logo {
    margin-right: auto;
    margin-left: auto;
    
    img {
      max-height: 35px;
      width: auto;
    }
  }
  .header {
    padding-top: 6px;
    padding-bottom: 6px;
  }
  .promo__wrap {
    position: relative;
    justify-content: flex-start;
    padding-top: 300px;
    padding-bottom: 100px;
  }
  .promo__title {
    position: absolute;
    left: 0;
    right: 0;
    top: 220px;
    font-size: 34px;
  }
  .promo__label {
    font-size: 14px;
  }
  .promo__slide {
    box-sizing: border-box;
  }
  .gallery__block {
    flex-direction: column;
  }
  .gallery__aside {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .gallery__link {
    width: 50%;
    
    &--big {
      width: 100%;
    }
    
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
  .gallery__middle {
    width: 100%;
  }
  .gallery {
    margin-bottom: 40px;
  }
  .sale {
    margin-bottom: 90px;
  }
  .sale__title {
    font-size: 34px;
    line-height: 1.8;
  }
}
