@media (max-width: 1000px) {
  .wrapper {
    width: 100%;
  }
  .about__img,
  .menu,
  .header__block {
    display: none;
  }
  .logo {
    margin-right: auto;
    margin-left: auto;
    
    img {
      max-height: 35px;
      width: auto;
    }
  }
  .header {
    padding-top: 6px;
    padding-bottom: 6px;
  }
  .promo__wrap {
    position: relative;
    justify-content: flex-start;
    padding-top: 300px;
    padding-bottom: 100px;
  }
  .promo__title {
    font-size: 34px;
  }
  .promo__label {
    font-size: 14px;
  }
  .promo__slide {
    box-sizing: border-box;
  }
  .gallery__block {
    flex-direction: column;
  }
  .gallery__aside {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .gallery__link {
    width: 50%;
    
    &--big {
      width: 100%;
    }
    
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
  .gallery__middle {
    width: 100%;
  }
  .gallery {
    margin-bottom: 40px;
  }
  .sale {
    margin-bottom: 90px;
  }
  .sale__title {
    font-size: 34px;
    line-height: 1.8;
  }
  .mobile {
    display: block;
  }
}

@media (max-width: 480px) {
  .promo__wrap {
    padding-top: 150px;
  }
  .sale__title,
  .promo__title {
    font-size: 24px;
    line-height: 1.5;
  }
  .swiper-button-next {
    right: 0;
  }
  .swiper-button-prev {
    left: 0;
  }
  .gallery__aside {
    display: block;
  }
  .footer__column,
  .gallery__link {
    width: 100%;
  }
  .gallery__middle {
    height: 240px;
  }
  .footer__links a,
  .footer__line,
  .footer__wrap {
    display: block;
  }
  .social,
  .footer__column {
    margin-bottom: 20px;
  }
  .footer__top {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
